<h4> If you can see this, EJS is working</h4>

<h4> If you can see this, EJS is working</h4>

<h1> Hello from EJS</h1>

<p> Tell us your name!</p>

<form>
    <input type="text" name="ejsFormName" value="your name" value =<%=myName %>"

    <input type="submit" method=”get” action="/name">
    
    <input type="submit"
    </form>
